name: PublishNugets

on:
  push:
    branches: [ published ]
  pull_request:
    branches: [ published ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test
    - name: Publish ViewStore.Abstractions
      uses: brandedoutcast/publish-nuget@v2
      with:
        PROJECT_FILE_PATH: Abstractions/Abstractions.csproj
        VERSION_REGEX: '^\s*<Version>(.*)<\/Version>\s*$'
        TAG_FORMAT: '*'
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
    - name: Publish ViewStore.Cache
      uses: brandedoutcast/publish-nuget@v2
      with:
        PROJECT_FILE_PATH: Cache/ViewStore.Cache/ViewStore.Cache.csproj
        VERSION_REGEX: '^\s*<Version>(.*)<\/Version>\s*$'
        TAG_FORMAT: '*'
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
    - name: Publish ViewStore.MongoDb
      uses: brandedoutcast/publish-nuget@v2
      with:
        PROJECT_FILE_PATH: MongoDb/ViewStore.MongoDb/ViewStore.MongoDb.csproj
        VERSION_REGEX: '^\s*<Version>(.*)<\/Version>\s*$'
        TAG_FORMAT: '*'
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
    - name: Publish ViewStore.MartenDb
      uses: brandedoutcast/publish-nuget@v2
      with:
        PROJECT_FILE_PATH: MartenDb/ViewStore.MartenDb/ViewStore.MartenDb.csproj
        VERSION_REGEX: '^\s*<Version>(.*)<\/Version>\s*$'
        TAG_FORMAT: '*'
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
