name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.101
        source-url: https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.NUGET_API_KEY}}
    - name: Build solution and generate NuGet package
      run: dotnet pack -c Release -o out
    - name: Push ViewStore.Abstraction package to Nuget Galery registry
      run: dotnet nuget push ./Abstractions/out/*.nupkg --skip-duplicate --no-symbols true
